/* DOWN ARROW */
.fa-arrow-down{
    font-size: 60px;
    margin-top: 7rem;
    position: relative;
    top: 70px;
    transition: all 0.1s linear;

}

.fa-arrow-down:active{
   color: red; 
   
}

.fa-angle-down{
    position:absolute;
    top: 0;
    right: 100px;
}

