
/* HEADER */

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height:5rem;

    /* debug */
    background-color: aqua;
}

.head>div{
    padding: .5rem;
    /* debug */
    /* height: 35px; */
    background-color: red;
    border: 1px solid black;
}

.head-right ul li,
.head-left ul li{
    padding: 1rem;
}


/* SECTIONS */

.section{
    /* debug */
    background-color: chocolate;
    
}

.section-blue{
    background-color: blue;
}

.sections{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* debug */
    /* height: 200px; */
    border: 2px solid red;
}

.head-section{
    width: 100%;
    border: 2px solid black;
    /* padding: 1rem 0rem; */
}

/* MAIN */
.jumbotron{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* debug */
    /* height: 200px; */
    border: 2px solid red;
}
.jumbotron h1{
    width: 100%;
    text-align:left;
    /* font-size:65px; */
    /* padding: 1rem 15rem; */
    /* debug */
    /* background-color:yellow; */
    border: 5px solid black;
    
}
/* RIGHT/LEFT */
.w-60{
    width: 60%;
    /* debug */
    background-color: red;
    border: 5px dotted black;
}

.w-40{
    width: 40%;
    /* debug */
    background-color: green;
    border: 5px dotted black;
}


.fatture{
    /* debug */
    border: 4px solid black;
}
.fatture div.radio{
    display: inline;
}

.planeboard{
    display: flex;
    justify-content: space-between;
    /* flex-wrap: wrap; */
    flex-grow:0;
    gap: 1rem;
    /* debug */
    border: 3px dotted green;
}

.planeboard div.col-planeboard{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;

    border: 4px solid red;
    width: calc(100%/3 - 1rem);
}

.title-plane{
    border: 3px solid black;
}

.type-plane{
    border: 3px solid black;
}

.recap-plane{
    border: 3px solid black;
}    


