h3{
    font-size: 25px;
    margin: 15px 0;
}

.marg-15{
    margin-left: 15px;
}
/* HEADER */

.head{
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* height:5rem; */
    line-height: 5rem;

    position: fixed;
    width: 100%;
    z-index: 1;
    /* debug */
    background-color:white
}

.head>ul li{
    padding: 1rem;
    vertical-align: middle;
    /* debug */
    /* border:1px solid black; */
    transition: all 0.1s linear;

}
.head>ul li img{
    vertical-align: middle;
}

.head ul:last-child li:last-child a{
    /* botton INIZIA */
    color: white;
    background-color: blue;
    padding: 10px 15px;
}

.head ul li:hover{
    box-shadow:0px 2px blue
}

/* MAIN */

/* Sections */
.section{
    /* debug
    background-color: chocolate; */
    padding-top: 9rem;

}

.section-blue{
    padding-top: 7rem;
    background-color:#B4D0E7;
}

.team-section{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    /* debug */
    /* height: 400px; */
    border: 1px solid grey;

}

.team-section .title-team{
    width: 100%;
    text-align: center;
    font-size: 20px;
    padding:10px;
    border: 1px solid grey;
}

.title-team h4{
    display: inline-block;
}

.w-75 .marg-15>div{
    margin-bottom: 40px;
}

.team-section .w-25 div.btn{
    margin-top: 15px;
}

/* DROPBOX */
.drop-section{
    display: flex;
    justify-content:center;
    flex-wrap: wrap;
    /* debug */
    /* height: 400px; */
    /* border: 1px solid grey; */

}
.drop-section .w-75 img{
    width: 95%;
}

.drop-section .w-25 .btn-partner{
    width: 60%;
    background-color: white;
    color:black;
    border: 3px solid black;
    margin-top: 40px;
}
.dropbox{
    padding: 80px 0;
}

/* Jumbotron */
.jumbotron{
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    background-color:#B4D0E7;
   
    /* border: 2px solid red; */
}
.jumbotron h1{
    width: 100%;
    font-size: 80px;
    padding:2rem 8rem 0rem 0rem;
   
    /* border: 5px solid black; */
}

.jumbotron div.w-25>:first-child{
    margin-top:6rem;
    margin-bottom:2rem;
}

.jumbotron div.w-75 img{
    position: relative;
    top: 6rem;
    right: 2rem;
}
/* RIGHT/LEFT */


.w-75{
    width: 75%;
    /* height:500px; */
    /* debug */
    /* background-color: red; */
   /* border: 5px dotted black; */
}

.w-25{
    width: 25%;
    /* debug */
    /* background-color: green;
    border: 5px dotted black; */
}



/* Section Planeboard */
.planeboard{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
    /* debug */
    /* height: 80px; */
    /* border: 4px solid black; */
}

.planeboard>h2{
    width: 100%;
    font-size: 60px;
    margin-bottom: 40px;
}

.planeboard>div.radio{
    width: 100%;
    font-size: 20px;
    margin-bottom: 40px;
    /* margin-right:20px; */
}

.radio-btn{
    color: white;
    background-color: blue;
    border-radius: 50%;
    padding: 2px;
}

/* PLANE SECTION */
.col-plane{
    border: 1px solid black;
    width: 30%;
}

.user-plane{
    border: 1px solid black;
    border-top: 0;
    text-align: center;
    padding: 1rem 0;

}

.type-plane{
    margin-top: 20px;
    margin-left: 15px;
}

.col-plane ul li{
    display:block;
    padding: 15px 0 20px 0;
}

.recap-plane{
    margin-left: 15px;
}

.planeboard h3{
    font-size: 25px;
    padding: 10px 0;
}
.planeboard h4{
    font-size:18px ;
}

.type-plane>div:first-of-type{
    color: lightgray;
    margin: 10px 0;
}
/* .type-plane>div a{
    text-decoration: initial;
    color: initial;
} */

.type-plane hr{
    margin: 20px 15px 20px  0;
}

.type-plane a{
    text-decoration: underline;
    color: blue;
}

.recap-plane h5{
    font-size: 18px;
    margin-bottom: 20px;
}

.recap-plane ul li>:first-of-type{
    color: blue;

}
/* SECTION TEAM */

/* CARDS */
.cards{
    display: flex;
    justify-content:space-between;
    flex-flow: row wrap;

    /* border: 5px solid black; */
}
.cards h3{
    width: 100%;
    font-size: 30px;
    margin-bottom: 40px;
}
.card{
    /* border: 5px solid black; */
    margin-bottom: 20px;
    width:30%;
    text-align: left
}

.cards>div:last-child a{

    text-decoration:underline;
    color:blue;
}

/* SECTION SPONSOR */
.w30{
    width:30%;

}

.w40{
    width: 40%;
    padding: 0 50px;
    /* border: 2px solid ; */
}

.w40 p{
    font-size: 18px;
}

.row{
    display: flex;
    justify-content: space-between;
    
}

.dflex{
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;

}
.logo,
.logo img{

    width: 50%;
    height:calc(100vw / 3/ 2);
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img{
    filter: invert();

}
/* FAQ */
.faq{
    display: flex;
    justify-content: flex-start;
    flex-flow: column wrap;
    /* border: 2px solid black; */
    /* height: 400px; */
}

.faq>div{
     position: relative;
    font-size: 20px;
    margin: 40px 0;
}
.faq h3{
    font-size: 35px;
    margin-bottom: 50px;
}




/* SECTION FOOT-NAV */

.foot-nav{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    /* debug */
    /* height: 600px; */
    background-color: black;
}

.title-nav{
    /* padding-top:60px; */
    color:white ;
    margin-bottom: 40px;
}

.title-nav ul li a{
    display: block;
    margin: 20px 0;
}

.title-nav hr{
    margin: 50px 0;
}

